body {
    /* background-color: #ffffff;
    color: #000; */
    margin: 0;
}

a {
    color: #080;
    box-shadow: none;
}

.left-panel-internal a,
.left-panel-internal a:focus {
    box-shadow: none;
}

canvas {
    display: block;
}

.btn-menu {
    color: var(--primary);
    transition: all 150ms;
    box-shadow: none;
}

.btn-menu:hover {
    /* color: #ffffff; */
    background: #eaeaea;
}

.loading-msg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1100;
    opacity: 1;
    background: white;
    transition: opacity 200ms ease-in-out;
}

.loading-msg.hide {
    opacity: 0;
}

.loading-text {
    color: #636363;
    display: inline-block;
    text-align: center;
    padding: 0rem 0rem 0.5rem 0rem;
}

.loading-msg.initialising .progress {
    max-height: 0px;
    padding: 0rem 0rem 0rem 0rem;
}

.loading-msg.initialising .loading-text {
    max-height: 0px;
    transition: all 200ms 100ms ease-in-out;
    padding: 0rem 0rem 0rem 0rem;
}

.loading-cog {
    color: #09abe8;
    max-height: 0px;
    overflow: hidden;
}

.loading-num {
    max-height: 100px;
    overflow: hidden;
}

.loading-msg.initialising .loading-cog {
    max-height: 100px;
    transition: all 200ms 300ms ease-in-out;
}

    var torrents = []
.loading-msg.initialising .loading-num {
    max-height: 0px;
    transition: all 300ms ease-in-out;
}

.loading-msg .progress {
    width: 20rem;
    max-height: 20px;
    transition: all 200ms ease-in-out;
    overflow: hidden;
    /* padding: 0.5rem 0rem 0.5rem 0rem; */
}

a.btn i {
    background: #00000010;
    min-width: 3rem;
}

.left-panel-internal i::before {
    vertical-align: sub;
}

.left-panel-internal i {}

.left-panel-internal i {
    min-width: 3rem;
    text-shadow: 2px 2px 2px #0000004d;
    background: #00000030;
    var torrents = []
}

.card.country-menu {
    width: 20rem;
    max-width: 20rem;
    bottom: 0;
    right: 0;
    box-shadow: 0px 0px 0px 0px #00000030;
    position: fixed;
    /* overflow-x: hidden; */
    /* height: 100vh; */
    transition: transform 400ms ease-in-out, box-shadow 400ms ease-in-out;
    transform: translateY(100vh);
}

.card.country-menu.show {
    transform: translateY(0vh);
    box-shadow: 0px 0px 24px 0px #00000030;
}

.card.left-menu {
    min-width: 12rem;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 0px 0px #00000030;
    position: fixed;
    z-index: 1;
    /* overflow-x: hidden; */
    /* height: 100vh; */
    transition: transform 400ms ease-in-out, box-shadow 400ms ease-in-out;
    transform: translateY(100vh);
}

.card.left-menu.show {
    transform: translateY(0vh);
    box-shadow: 0px 0px 24px 0px #00000030;
}

.darker {
    background: #00000030;
    min-width: 3rem;
}

.small-title {
    font-size: 12px;
}

.position-container {
    background: #c300c3;
    color: #fff;
}

.ground-speed-container {
    background: #00c356;
    color: #fff;
}

.altitude-container {
    background: #ff3200;
    color: #fff;
}

.game-screen-options {
    max-width: 200px;
    transition: max-height 200ms 100ms ease-in-out, margin 200ms 100ms ease-in-out;
    overflow-y: hidden;
    max-height: 500px;
}

.game-screen-options.hide {
    /* transition: max-height 200ms 100ms ease-in-out, margin 200ms 100ms ease-in-out; */
    transition: max-height 200ms ease-in-out, margin 200ms ease-in-out;
    max-height: 0px;
}

.game-screen {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1101;
    opacity: 1;
    /* background: white; */
    transition: opacity 200ms ease-in-out;
}

.initiate .game-screen {
    opacity: 0;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


.name {
    /* max-width: 18rem; */
}
.id {
    min-width: 3rem;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  transform: translateY(-150px);
  transition: transform 300ms ease-out;
}

.initiate .masthead {
    transform: translateY(0px);
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  /* padding: 0 1.5rem; */
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.torrents-container .progress {
    height: 1.4rem;
    background: transparent;
    background-image: linear-gradient(to right, #57abff40 , #004b96);
}

.torrents-container .progress-bar {
    background-color: #ffeb00;
    color: #a57a00;
    text-shadow: none;
    box-shadow: 0px 0px 31px 0px #ffeb00;
    transition: width 600ms ease, box-shadow 3000ms ease;
}


.tor-toolbar {
    transform: translateY(-200px);
    transition: transform 300ms 300ms ease-out;
}

.initiate .tor-toolbar {
    transform: translateY(0px);
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
