[Unit]
Description=Node.js Blackbeard web server

[Service]
PIDFile=/tmp/bb-web.pid
User=lindsay
Group=lindsay
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/lindsay/Node/blackbeard/
ExecStart=/home/lindsay/Node/blackbeard/web.js

[Install]
WantedBy=multi-user.target
