[Unit]
Description=Node.js Blackbeard web server

[Service]
PIDFile=/tmp/blackbeard.pid
User=lindsay
Group=lindsay
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/lindsay/Node/blackbeard/
ExecStart=/home/lindsay/Node/blackbeard/index.js

[Install]
WantedBy=multi-user.target
